doctype html
html(lang = "en")
    head
        title Hapi/Pug Test
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        h1 Hello From Pug!

